# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Land_Of_Labyrinth_Unity5/Library
/Land_Of_Labyrinth_Unity5/Temp
/Land_Of_Labyrinth_Unity5/Assembly-UnityScript-firstpass.unityproj
/Land_Of_Labyrinth_Unity5/Assembly-UnityScript-firstpass-vs.unityproj
/Land_Of_Labyrinth_Unity5/Assembly-UnityScript-vs.unityproj
/Land_Of_Labyrinth_Unity5/Land_Of_Labyrinth_Unity5.sln
/Land_Of_Labyrinth_Unity5/Land_Of_Labyrinth_Unity5-csharp.sln
/Land_Of_Labyrinth_Unity5/Land_Of_Labyrinth_Unity5-csharp.v12.suo
/Land_Of_Labyrinth_Unity5/Assembly-CSharp.csproj
/Land_Of_Labyrinth_Unity5/Assembly-CSharp-Editor.csproj
/Land_Of_Labyrinth_Unity5/Assembly-CSharp-Editor-vs.csproj
/Land_Of_Labyrinth_Unity5/Assembly-CSharp-firstpass.csproj
/Land_Of_Labyrinth_Unity5/Assembly-CSharp-firstpass-vs.csproj
/Land_Of_Labyrinth_Unity5/Assembly-CSharp-vs.csproj
/Land_Of_Labyrinth_Unity5/Assembly-UnityScript.unityproj
/Land_Of_Labyrinth_Unity5/Assembly-UnityScript-Editor.unityproj
/Land_Of_Labyrinth_Unity5/Assembly-UnityScript-Editor-vs.unityproj
